body {
  margin: 0;
  padding: 0;
  background-color: lightyellow;
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 200px;
  max-width: 600px;
  height:auto;
  /*max-height: 390px;*/
  border: 1px solid #9C9C9C;
  border-radius: .8rem;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}
img {width:100%;}
.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}
.error{
  color: red;
}